name: Update Antlr4 Version

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get latest Antlr4 version
        id: get_version
        run: |
          version=$(curl -s https://api.github.com/repos/antlr/antlr4/releases/latest | jq -r '.tag_name')
          if [ -z "$version" ] || [ "$version" == "null" ]; then
            echo "Failed to get latest version"
            exit 1
          fi
          echo "::set-output name=version::$version"

      - name: Update action.yml
        run: |
          sed -i "s/antlr-.\+-complete\.jar/antlr-${{ steps.get_version.outputs.version }}-complete.jar/g" action.yml

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: bump to ${{ steps.get_version.outputs.version }}
          branch: bump-${{ steps.get_version.outputs.version }}
          delete-branch: true
          title: "Bump ANTLR to ${{ steps.get_version.outputs.version }}"
          body: |
            Auto-generated
          labels: |
            new-antlr-release
            automated-pr
          draft: false
